*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*  .clearfix::after {
      content: “”;
      display: block;
      clear: both;
  }*/

.box {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
}

.pic1 {
	background-image: url(img/box1.jpg);
}

.pic2 {
	background-image: url(img/box2.jpg);
}

.pic3 {
	background-image: url(img/box3.jpg);
}

.pic4 {
	background-image: url(img/box4.jpg);
}