* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

main {
    width: 100%;
}

header {
    width: 100%;
    height: 70px;
    background-color: #EC715F
}

.humberger {
    display: none;
}

.header {
    width: 1024px;
    margin: 0 auto;
}


.header-logo {
    height: 70px;
}

.header-nav {
    float: right;
    line-height: 70px;
}

.header-nav-item {
    margin: 0 30px;
    list-style: none;
    display: inline-block;
    font-size: 16px;
    color: #fff;
}

.main-visual {
    width: 100%;
    height: 650px;
    padding: 200px 0;
    text-align: center;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-visual-catch {
    font-size: 64px;
    color: #fafafa;
    margin-bottom: 10px;
}

.main-visual-text {
    font-size: 20px;
    color: #fafafa;
}

.content {
    padding: 90px 0;
}

.content:nth-child(odd) {
    background-color: #eceff1;
}

.portfolio {
    width: 920px;
    margin: 0 auto;
}

.content-title {
    font-size: 32px;
    text-align: center;
    color: #000 margin-bottom: 8px;
    margin-bottom: 8px;
}

.content-border {
    width: 70px;
    height: 3px;
    background-color: #ec715f;
    margin: 0 auto 30px auto;
}

.content-text {
    font-size: 16px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;

}

.image-item {
    width: 300px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: black;
    background-size: cover;
    background-position: center;
    float: left;
}

.image-item:nth-child(3n) {
    margin: 0;
}

.image-item:nth-child(1) {
    background-image: url(img/sketch.jpg);
}

.image-item:nth-child(2) {
    background-image: url(img/websuku.png);
}

.image-item:nth-child(3) {
    background-image: url(img/write.jpg);
}

.image-item:nth-child(4) {
    background-image: url(img/webcamp.png);
}

.image-item:nth-child(5) {
    background-image: url(img/talk.jpg);
}

.image-item:nth-child(6) {
    background-image: url(img/webcamp-mother.png);
}

.feature {
    width: 980px;
    margin: 0 auto;
}

.feature-item {
    width: 320px;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.feature-item:last-child {
    margin: 0;
}

.feature-item i {
    font-size: 60px;
}

.feature-title {
    font-size: 20px;
    color: #000;
    padding: 10px 0;
}

.feature-text {
    font-size: 16px;
    color: #000;
    text-align: left;
}

.profile {
    width: 1024px;
    margin: 0 auto;
}

.profile-box {
    width: 512px;
    float: left;
    text-align: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.profile-index {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left
}

.profile-index:nth-child(2) {
    margin-top: 20px;
}

.profile-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    text-align: left;
}

.profile-text:last-child {
    margin: 0;
}

.contact {
    width: 800px;
    margin: 0 auto;
}

.contact-box {
    width: 400px;
    float: left;
    text-align: center;
}

.contact-box-wrapper {
    display: inline-block;
    text-align: left;
}

.contact-index {
    display: inline;
    font-size: 20px;
}

.contact-text {
    display: inline;
    margin-bottom: 20px;
}

.content-text:last-child {
    margin: 0;
}

.contact-spacer-20 {
    height: 20px;
}

.contact-spacer-5 {
    height: 5px;
}

.contact-sns {
    display: inline;
    font-size: 20px;
}

.contact-icon i {
    font-size: 50px;
    margin-right: 20px;
}

.contact-icon i:last-child {
    margin: 0;
}

footer {
    height: 60px;
    background-color: #ec715f;
    text-align: center;
    color: #fff;
}

footer p {
    line-height: 60px;
    font-size: 16px;
}

@media screen and (max-width:767px) {
    header {
        height: 50px;
    }

    .header {
        width: 90%;
        position: relative;
    }

    .humberger {
        display: block;
        width: 40px;
        height: 40px;
        border: solid 1px #fff;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 0px;
    }

    .humberger i {
        color: #fff;
        line-height: 40px;
        font-size: 25px;
    }

    .header-logo {
        height: 50px;
    }

    .header-nav {
        display: none;
    }

    .main-visual {
        background-image: url(img/code.png);
    }

    .main-cisual-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .main-visual-catch {
        font-size: 40px;
    }

    .main-visual-text {
        font-size: 18px;
    }

    .portfolio {
        width: 90%;
        margin: 0 auto;
    }

    .portfolio-image {
        width: 300px;
        margin: 0 auto;
    }

    .image-item:nth-child(1),
    .image-item:nth-child(3),
    .image-item:nth-child(5) {
        display: none;
    }

    .image-item:nth-child(2),
    .image-item:nth-child(4),
    .image-item:nth-child(6) {
        margin-right: 0;
    }

    .feature {
        width: 90%;
        margin: 0 auto;
    }

    .feature-item {
        margin-right: 0;
    }

    .profile {
        width: 90%;
        margin: 0 auto;
    }

    .profile-box {
        float: none;
        width: 100%;
    }

    .profile-image {
        margin-bottom: 20px;
    }

    .profile-index {
        text-align: center;
    }

    .contact {
        width: 90%;
        margin: 0 auto;
    }

    .contact-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-box:last-child {
        margin-bottom: 0;
    }

    .contact-box-wrapper  {
        text-align: center;
    }

}